allow mediaserver vendor_default_prop:file { getattr } ;
allow mediaserver vendor_default_prop:file { open } ;
allow mediaserver vendor_default_prop:file { read } ;
