typeattribute system_server system_executes_vendor_violators;

# Fingerprint
get_prop(system_server, fp_prop);

# Smart charging
allow system_server sysfs_battery_supply:file { getattr open read write };
