allow system_data_file system_data_file:dir { getattr };
allow system_data_file system_data_file:dir { add_name  create  remove_name  write };
allow system_data_file system_data_file:file { create  unlink  write };

